<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no" >
        <title>SymBNB - {% block title %}{% endblock title %}</title>
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        {% block stylesheets %}{% endblock stylesheets %}
    </head>

    <body>

        {% include "partials/header.html.twig" %}
    
        {% block body %}{% endblock body %}

        {% include "partials/footer.html.twig" %}

        {{ encore_entry_script_tags('app') }}
        
        {% block javascripts %}
        {% endblock javascripts %}

    </body>
</html>
