{% extends "base.html.twig" %}

{% block title %}Modidication profil{% endblock title %}

{% block body %}
    <div class="container">
        <h1 class="my-3">Modification du profil</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="text-center mt-5">
        <button type="submit" class="btn btn-success">
        <i class="fas fa-check"></i>
            Enregistrer les modifications
        </button>
    </div>

    {{ form_end(form) }}
    </div>
{% endblock body %}